.bg {
    background-image: url(./bg-hero.png);
    background-size: cover;
}

.carousel-container {
    overflow: hidden;
    width: 100%;
    position: relative;

}

.carousel {
    display: flex;
    transition: transform 0.5s ease;

}