.back-img {
    background-image: url(gradient-grainy-texture_23-2148981502.jpg);
    background-size: cover;

}

@media only screen and (max-width: 700px) {
    .back-img {
        width: auto;
    }
}