.bico {
    background-image: url(../user/bico.png);
    background-size: contain;
    width: 100px;
    height: 40px;
    background-repeat: no-repeat;
}

.navbar {
    background-color: #273746;
}

.footer {
    background-color: #CCCCFF;
}